body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsl(0deg 0% 3.79%) 18%, hsl(0deg 0% 1.82%) 42%, hsl(0deg 4.94% 13.93%) 74%, hsla(0, 0%, 0%, 1) 100%);
    box-shadow: inset 0px 0px 5px black, inset 0px 0px 10px black, inset 0px 0px 20px black;
}

.form {
    border-radius: 18px;
    box-shadow: inset 0px 0px 8px white, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black, 3px 5px 21px white;
    background: linear-gradient(135deg, hsla(0, 4%, 46%, 0.47) 0%, hsla(0, 0%, 100%, 0.78) 18%, hsla(0, 0%, 59%, 0.51) 39%, hsl(0, 0%, 34%) 62%, hsl(0, 0%, 62%) 80%, hsl(0, 0%, 50%) 100%);
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    zoom: 0.9;
}

.title {
    color: #ffffff;
    font-weight: bold;
    text-shadow: -1px -1px 1px black, -1px 0px 1px black, -1px 1px 1px black, 0px -1px 1px black, 0px 0px 1px black, 0px 1px 1px black, 1px -1px 1px black, 1px 0px 1px black, 1px 1px 1px black, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black, 4px 8px 8px black, 0px 0px 15px white;
    font-size: 1.9rem;
    text-align: center;
    margin: 1% 3% 0;
    background: linear-gradient(243deg, hsl(0, 0%, 26.61%) 0%, hsl(0, 0%, 100%) 31%, hsl(0, 2.02%, 60.82%) 62%, hsl(0, 0%, 100%) 100%);
    border-radius: 9px;
    padding: 1% 2% 2%;
    box-shadow: inset 0px 0px 3px black, inset 0px 0px 6px black, inset 0px 0px 9px black, inset 0px 0px 20px black, 0px 0px 3px black, 0px 0px 6px gray;
}

.title:hover {
    color: #4CAF50;
    font-weight: bold;
    text-shadow: -1px -1px 1px black, -1px 0px 1px black, -1px 1px 1px black, 0px -1px 1px black, 0px 0px 1px black, 0px 1px 1px black, 1px -1px 1px black, 1px 0px 1px black, 1px 1px 1px black, 0px 1px 1px black, 1px 2px 2px black, 0px 0px 15px white;
    font-size: 1.9rem;
    text-align: center;
    margin: 1% 3% 0;
    background: linear-gradient(243deg, hsl(0, 0%, 26.61%) 0%, hsl(0, 0%, 100%) 31%, hsl(0, 2.02%, 60.82%) 62%, hsl(0, 0%, 100%) 100%);
    border-radius: 9px;
    padding: 1% 2% 2%;
    box-shadow: inset 0px 0px 3px black, inset 0px 0px 6px black, inset 0px 0px 9px black, inset 0px 0px 20px black, 0px 0px 3px black, 0px 0px 6px gray;
}

.subtitle {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10%;
    border-radius: 9px;
    padding: 3%;
    background: #ffffff33;
    box-shadow: 0px 0px 8px white;
    text-shadow: 0px 0px 5px white;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    border: solid 1px black;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: inset 0px 0px 5px black, inset 0px 0px 13px black;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    text-shadow: 0px 0px 2px black, 0px 0px 12px #ffffff;
    padding: 5% 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    display: none;
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    font-size: 1.3rem;
    margin-top: 18%;
    border-radius: 7px;
    font-weight: bold;
    font-family: verdana;
    box-shadow: inset 0px 0px 12px #fdfdfd, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black, 3px 3px 6px white, 4px 4px 24px white;
    background: linear-gradient( 0deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 15%) 17%, hsl(0, 0%, 5%) 34%, hsl(0, 0%, 0%) 50%, hsl(60, 0%, 39%) 76%, hsl(0, 0%, 17%) 82%, hsl(0, 0%, 0%) 100%);
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 2px #adadad, 0px 0px 7px #525252, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black;
    padding: 2% 12%;
    cursor: pointer;
}

.submit:active {
    box-shadow: inset 0px 0px 7px #4fff4f, inset 0px 0px 24px #57ff57, 0px 1px 1px black, 4px 4px 14px #86ff83;
    background: linear-gradient(0deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 15%) 17%, hsl(0, 0%, 5%) 34%, hsl(0, 0%, 0%) 50%, hsl(60, 0%, 39%) 76%, hsl(0, 0%, 17%) 82%, hsl(0, 0%, 0%) 100%) !important;
    border-radius: 7px;
    font-weight: bold;
    font-family: verdana;
    font-size: 1.3rem;
    margin-top: 18%;
    text-shadow: 0px 0px 2px #4CAF50, 0px 0px 7px #4CAF50, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black;
    color: #c0ffc2;
    text-transform: uppercase;
    text-align: center;
    padding: 2% 12%;
    cursor: pointer;
}

.submit:active {
    background-color: #06b;
}

.div-button {
    text-align: center;
}
