<body>
    <div class="form">
        <div class="title">NEW SHORE AIR</div>
        <div class="subtitle">Ingresa lugar de origen y lugar de destino para el viaje</div>
        <div class="input-container ic1">
            <input maxlength="3" (change)="setOrigin($event)" id="origin" class="input" type="text" placeholder=" " />
            <label for="origin" class="placeholder">ORIGEN</label>
        </div>
        <div class="input-container ic2">
            <input maxlength="3" (change)="setDestination($event)" id="destination" class="input" type="text"
                placeholder=" " />
            <label for="destination" class="placeholder">DESTINO</label>
        </div>
        <div class="div-button">
            <button (click)="submit()" type="text" class="submit">Enviar</button>
        </div>
    </div>
</body>