<body>
    <div class="div-content-error" *ngIf="data.type === 'error'">
        <label>{{data.message}}</label>
    </div>

    <div class="div-label" *ngIf="data.type === 'success'">
        <label>
            A continuación se muestran los resultados de su consulta
        </label>
    </div>
    <div class="div-content-success" *ngIf="data.type === 'success'">
        <div>
            <table>
                <tr>
                    <td class="td-left">Origen</td>
                    <td class="td-right">{{data.journey.Origin}}</td>
                </tr>
                <tr>
                    <td class="td-left">Destino</td>
                    <td class="td-right">{{data.journey.Destination}}</td>
                </tr>
                <tr>
                    <td class="td-left">Precio</td>
                    <td class="td-right">{{data.journey.Price | currency:'USD':'symbol':'1.0-0'}}</td>
                </tr>
                <tr>
                    <td class="td-left">Vuelo directo</td>
                    <td class="td-right">{{data.journey.Flights.length === 1 ? 'Si' : 'No'}}</td>
                </tr>
                <tr *ngIf="data.journey.Flights.length > 1">
                    <td class="td-left">Cantidad de escalas</td>
                    <td class="td-right">{{data.journey.Flights.length}}</td>
                </tr>
                <tr>
                    <td class="last-td-left">Ruta:</td>
                    <td>
                        <div *ngFor="let journey of data.journey.Flights">
                            {{journey.origin}} - {{journey.destination}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>