/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cdk-overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-dialog {
    width: 500px;
    height: 200px;
    max-width: 80vw;
    position: static;
    box-shadow: 0px 0px 20px red;
    border-radius: 10px;

    .div-content-error {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffd9d9;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.1rem;
        text-shadow: -1px -1px 1px black, -1px 0px 1px black, -1px 1px 1px black, 0px -1px 1px black, 0px 0px 1px black, 0px 1px 1px black, 1px -1px 1px black, 1px 0px 1px black, 1px 1px 1px black, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black, 0px 0px 25px white;
    }
}

.success-dialog {
    width: 500px;
    height: 200px;
    max-width: 80vw;
    position: static;
    box-shadow: 0px 0px 20px white;
    border-radius: 10px;
    
    .div-label {
        margin: 2% 0 5%;
        text-shadow: 0px 0px 5px white;
    }
    
    .div-content-success {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 2%, 88%, 1) 24%, hsla(0, 0%, 100%, 1) 100%);
        padding: 2%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-size: 1rem;


        table {
            text-align: center;
            border: solid 1px;
            border-radius: 6px;
            box-shadow: inset 0px 0px 3px #ffffff, inset 0px 0px 9px white, 0px 1px 1px black, 1px 2px 2px black, 2px 4px 4px black, 3px 6px 6px black, 4px 8px 8px black, 2px 2px 13px white !important;
            padding: 1% 5% 1% 1%;
        }
    }

}